<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='/style/human.xsl'?>
<extension xmlns='http://rs.gbif.org/extension/'
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns:dc='http://purl.org/dc/terms/'
    xsi:schemaLocation='http://rs.gbif.org/extension/ http://rs.gbif.org/schema/extension.xsd'
    dc:title='DNA derived data'
    name="dnaDerivedData" namespace='http://rs.gbif.org/terms/1.0/'
    rowType='http://rs.gbif.org/terms/1.0/DNADerivedData'
    dc:issued='{issued_date}'
    dc:subject=''
    dc:relation='https://w3id.org/mixs/'
    dc:description='An extension to Occurrence and Event cores to capture information relating to DNA. This extension is based on the MIxS extension for Darwin Core (underway), with additions from GGBN and MIQE standards and recommendations. This definition supports the outcomes documented in Publishing DNA-derived data through biodiversity data platforms (https://doi.org/10.35035/doc-vf1a-nr22).  This extension is subject to change, and recommended for early adopters who understand that data remapping may be required as things evolve.'>
